<p style="text-align:center">
    <a href="https://skills.network/?utm_medium=Exinfluencer&utm_source=Exinfluencer&utm_content=000026UJ&utm_term=10006555&utm_id=NA-SkillsNetwork-Channel-SkillsNetworkCoursesIBMDA0321ENSkillsNetwork928-2022-01-01" target="_blank">
    <img src="https://cf-courses-data.s3.us.cloud-object-storage.appdomain.cloud/assets/logos/SN_web_lightmode.png" width="200" alt="Skills Network Logo"  />
    </a>
</p>

# **Data Wrangling Lab**

Estimated time needed: **45 to 60** minutes

In this assignment you will be performing data wrangling.

## Objectives

In this lab you will perform the following:

-   Identify duplicate values in the dataset.

-   Remove duplicate values from the dataset.

-   Identify missing values in the dataset.

-   Impute the missing values in the dataset.

-   Normalize data in the dataset.

<hr>

## Hands on Lab

Import pandas module.

In [1]:
import pandas as pd

Load the dataset into a dataframe.

In [2]:
df = pd.read_csv("https://cf-courses-data.s3.us.cloud-object-storage.appdomain.cloud/IBM-DA0321EN-SkillsNetwork/LargeData/m1_survey_data.csv")

## Finding duplicates

In this section you will identify duplicate values in the dataset.

 Find how many duplicate rows exist in the dataframe.

In [3]:
df2 = len(df)-len(df.drop_duplicates())
df2

154

## Removing duplicates

Remove the duplicate rows from the dataframe.

In [4]:
df = df.drop_duplicates()

Verify if duplicates were actually dropped.

In [5]:
df2 = len(df)-len(df.drop_duplicates())
df2

0

## Finding Missing values

Find the missing values for all columns.

In [6]:
for i in df.columns:
    print (i,' has',df[i].isnull().sum(),'missing values')

Respondent  has 0 missing values
MainBranch  has 0 missing values
Hobbyist  has 0 missing values
OpenSourcer  has 0 missing values
OpenSource  has 81 missing values
Employment  has 0 missing values
Country  has 0 missing values
Student  has 51 missing values
EdLevel  has 112 missing values
UndergradMajor  has 737 missing values
EduOther  has 164 missing values
OrgSize  has 96 missing values
DevType  has 65 missing values
YearsCode  has 9 missing values
Age1stCode  has 13 missing values
YearsCodePro  has 16 missing values
CareerSat  has 0 missing values
JobSat  has 1 missing values
MgrIdiot  has 493 missing values
MgrMoney  has 497 missing values
MgrWant  has 493 missing values
JobSeek  has 0 missing values
LastHireDate  has 0 missing values
LastInt  has 413 missing values
FizzBuzz  has 37 missing values
JobFactors  has 3 missing values
ResumeUpdate  has 39 missing values
CurrencySymbol  has 0 missing values
CurrencyDesc  has 0 missing values
CompTotal  has 809 missing values
CompFreq  has 206 missing values
ConvertedComp  has 816 missing values
WorkWeekHrs  has 122 missing values
WorkPlan  has 121 missing values
WorkChallenge  has 164 missing values
WorkRemote  has 8 missing values
WorkLoc  has 32 missing values
ImpSyn  has 5 missing values
CodeRev  has 1 missing values
CodeRevHrs  has 2426 missing values
UnitTests  has 29 missing values
PurchaseHow  has 196 missing values
PurchaseWhat  has 38 missing values
LanguageWorkedWith  has 11 missing values
LanguageDesireNextYear  has 134 missing values
DatabaseWorkedWith  has 453 missing values
DatabaseDesireNextYear  has 1042 missing values
PlatformWorkedWith  has 411 missing values
PlatformDesireNextYear  has 544 missing values
WebFrameWorkedWith  has 1393 missing values
WebFrameDesireNextYear  has 1617 missing values
MiscTechWorkedWith  has 2182 missing values
MiscTechDesireNextYear  has 1455 missing values
DevEnviron  has 29 missing values
OpSys  has 34 missing values
Containers  has 82 missing values
BlockchainOrg  has 2322 missing values
BlockchainIs  has 2610 missing values
BetterLife  has 98 missing values
ITperson  has 35 missing values
OffOn  has 38 missing values
SocialMedia  has 293 missing values
Extraversion  has 20 missing values
ScreenName  has 507 missing values
SOVisit1st  has 325 missing values
SOVisitFreq  has 5 missing values
SOVisitTo  has 1 missing values
SOFindAnswer  has 3 missing values
SOTimeSaved  has 50 missing values
SOHowMuchTime  has 1917 missing values
SOAccount  has 1 missing values
SOPartFreq  has 1128 missing values
SOJobs  has 6 missing values
EntTeams  has 5 missing values
SOComm  has 0 missing values
WelcomeChange  has 85 missing values
SONewContent  has 1965 missing values
Age  has 287 missing values
Gender  has 73 missing values
Trans  has 123 missing values
Sexuality  has 542 missing values
Ethnicity  has 675 missing values
Dependents  has 140 missing values
SurveyLength  has 19 missing values
SurveyEase  has 14 missing values

Find out how many rows are missing in the column 'WorkLoc'

In [7]:
df['WorkLoc'].isnull().sum()

32

## Imputing missing values

Find the  value counts for the column WorkLoc.

In [8]:
df[['WorkLoc']].value_counts().to_frame()

                                                   0
WorkLoc
Office                                          6806
Home                                            3589
Other place, such as a coworking space or cafe   971

Identify the value that is most frequent (majority) in the WorkLoc column.

In [9]:
df[['WorkLoc']].value_counts().idxmax()

('Office',)

Impute (replace) all the empty rows in the column WorkLoc with the value that you have identified as majority.

In [10]:
df['WorkLoc'] = df[['WorkLoc']].fillna(df['WorkLoc'].value_counts().index[0])

After imputation there should ideally not be any empty rows in the WorkLoc column.

Verify if imputing was successful.

In [11]:
print('Number of missing values : ',df['WorkLoc'].isnull().sum())
print(df[['WorkLoc']].value_counts().to_frame())

Number of missing values :  0
                                                   0
WorkLoc
Office                                          6838
Home                                            3589
Other place, such as a coworking space or cafe   971

## Normalizing data

There are two columns in the dataset that talk about compensation.

One is "CompFreq". This column shows how often a developer is paid (Yearly, Monthly, Weekly).

The other is "CompTotal". This column talks about how much the developer is paid per Year, Month, or Week depending upon his/her "CompFreq". 

This makes it difficult to compare the total compensation of the developers.

In this section you will create a new column called 'NormalizedAnnualCompensation' which contains the 'Annual Compensation' irrespective of the 'CompFreq'.

Once this column is ready, it makes comparison of salaries easy.

<hr>

List out the various categories in the column 'CompFreq'

In [12]:
df[['CompFreq']].value_counts().to_frame()

             0
CompFreq
Yearly    6073
Monthly   4788
Weekly     331

Create a new column named 'NormalizedAnnualCompensation'. Use the hint given below if needed.

Double click to see the **Hint**.

<!--

Use the below logic to arrive at the values for the column NormalizedAnnualCompensation.

If the CompFreq is Yearly then use the exising value in CompTotal
If the CompFreq is Monthly then multiply the value in CompTotal with 12 (months in an year)
If the CompFreq is Weekly then multiply the value in CompTotal with 52 (weeks in an year)

-->

In [13]:
def normalize_compensation(row):
    if row['CompFreq'] == 'Yearly':
        return row['CompTotal']
    elif row['CompFreq'] == 'Monthly':
        return row['CompTotal'] * 12
    elif row['CompFreq'] == 'Weekly':
        return row['CompTotal'] * 52
    else:
        return None

df['NormalizedAnnualCompensation'] = df.apply(normalize_compensation, axis=1)

## Authors

Ramesh Sannareddy

### Other Contributors

Rav Ahuja

## Change Log

| Date (YYYY-MM-DD) | Version | Changed By        | Change Description                 |
| ----------------- | ------- | ----------------- | ---------------------------------- |
| 2020-10-17        | 0.1     | Ramesh Sannareddy | Created initial version of the lab |

 Copyright © 2020 IBM Corporation. This notebook and its source code are released under the terms of the [MIT License](https://cognitiveclass.ai/mit-license?utm_medium=Exinfluencer&utm_source=Exinfluencer&utm_content=000026UJ&utm_term=10006555&utm_id=NA-SkillsNetwork-Channel-SkillsNetworkCoursesIBMDA0321ENSkillsNetwork928-2022-01-01&cm_mmc=Email_Newsletter-_-Developer_Ed%2BTech-_-WW_WW-_-SkillsNetwork-Courses-IBM-DA0321EN-SkillsNetwork-21426264&cm_mmca1=000026UJ&cm_mmca2=10006555&cm_mmca3=M12345678&cvosrc=email.Newsletter.M12345678&cvo_campaign=000026UJ).